# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# macOS system files
.DS_Store

# VS Code or PyCharm config folders
.vscode/
.idea/

# Secrets
.env
config.py
